[user]
	name = HAL
	email = 68320771+HALQME@users.noreply.github.com
[core]
	excludesfile = ~/.gitignore_global
    fsmonitor = true
    untrackedCache = true
	editor = nvim
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[init]
    defaultBranch = main
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[push]
    default = simple
    autoSetupRemote = true
    fallowTags = true
[pull]
	rebase = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[merge]
    conflictstyle = zdiff3

[help]
    autocorrect = prompt
[commit]
    verbose = true
[rerere]
    enabled = true
    autoupdate = true
[rebase]
    autoSquash = true
    autoStash = true
    updateRefs = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[merge "our"]
	driver = true
